@page
@model _25E2_4_TP2.Pages.CityManager.CreateCountry

@{
}

<!DOCTYPE html>

@{
    ViewData["Title"] = "Create Country";
}

@section Scripts
{
<partial name="_ValidationScriptsPartial" xmlns="http://www.w3.org/1999/html"/>
}

<!DOCTYPE html>

<h2>@ViewData["Title"]</h2>
<div class="container mt-5">
    <form method="post" class="mt-4">
        @for (int i = 0; i < Model.ListaInputs.Count; i++)
        {
            <div class="country-entry mb-4 p-3 border rounded">
                <div class="form-group">
                    <label asp-for="ListaInputs[i].CountryName" class="control-label">Country Name: </label>
                    <input asp-for="ListaInputs[i].CountryName" class="form-control" type="text"/>
                    <span asp-validation-for="ListaInputs[i].CountryName" class="text-danger"></span>
                </div>
                <br>
                <div class="form-group">
                    <label asp-for="ListaInputs[i].CountryCode" class="control-label">Country Code: </label>
                    <input asp-for="ListaInputs[i].CountryCode" class="form-control" type="text"/>
                    <span asp-validation-for="ListaInputs[i].CountryCode" class="text-danger"></span>
                </div>
            </div>
        }
        <div class="form-group mt-4">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    
    @if (Model.ListaInputs.Any())
    {
        <div class="mt-5">
            <h2>Lista de países</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nome país</th>
                    <th>Código país</th>
                </tr>
                </thead>
                <tbody>
                @for (int i = 0; i < Model.ListaInputs.Count; i++)
                {
                    <tr>
                        <td>@Model.ListaInputs[i].CountryName</td>
                        <td>@Model.ListaInputs[i].CountryCode</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
</div>