@page
@model _25E2_4_TP2.Pages.CityManager.SaveNote

@{
    Layout = null;
}

<!DOCTYPE html>

<div class="container mt-5">
    <form method="post" class="mt-4">
        <div class="form-group">
            <label></label>
            <input/>
        </div>
    </form>
</div>